<div class="section">
  <div class="content">
  <div style="padding-top: 100px;">
<p>Hello, my name is</p>
  <h1>Anooshik Vartanian</h1>
  <p class="main">My work is mostly in backend development, with my primary focus on Java programming language and the Spring Boot framework. Throughout my career, I have undertaken projects from their inception, as well as contributed to the development of features in existing systems.</p>

<p class="main">My proficiency extends to frontend development, particularly in developing webpages designed for administration portals. I have mainly utilized the Angular framework. I am always eager to learn and adapt to new technologies in both front and backend developments. </p>
<p class="main">Right now, I am in the process of learning game development using Unity.</p>
</div>
<div class="image">
<div class="wrapper"> 
  <div class="img">
     <div style="max-width: 500px; display: block;"><img alt="" role="presentation" aria-hidden="true" src="data:image/svg+xml;charset=utf-8,%3Csvg height='500' width='500' xmlns='http://www.w3.org/2000/svg' version='1.1'%3E%3C/svg%3E" style="max-width: 100%; display: block; position: static;"></div>
     <div aria-hidden="true" data-placeholder-image="" style="opacity: 0; transition: opacity 500ms linear 0s;      position: absolute; inset: 0px; object-fit: cover;"></div>
<img src="https://anooshik.am/assets/meeee.png" style="object-fit: cover;opacity: 1;    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;"/>
</div>
</div>
  </div>
</div>
</div>